node_modules
dist
.next
.turbo
.env
.env.local
*.log
coverage
.DS_Store
apps/api/generated
apps/web/.next
apps/web/out
uploads
minio-data
postgres-data
packages/shared/src/*.js
packages/shared/src/*.d.ts
packages/shared/src/*.js.map
